# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv) and [cars2](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [3]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [4]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [6]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [7]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([36354, 71273, 18473, 54249, 56992, 16069, 35583, 70161, 59598,
       37499, 47719, 18945, 65721, 29903, 52774, 37112, 33823, 24027,
       47403, 37942, 37996, 18550, 22061, 53582, 23945, 49579, 45918,
       71736, 23554, 59142, 23679, 71787, 23545, 34590, 71344, 40678,
       18263, 29038, 68309, 43362, 59637, 60199, 20286, 71020, 17712,
       72516, 54505, 53460, 31189, 54388, 23775, 62336, 29183, 51113,
       27988, 68725, 17082, 32876, 39201, 69221, 72207, 49460, 60818,
       26375, 34656, 71826, 33994, 68775, 42285, 66735, 27607, 23743,
       64589, 49152, 32375, 25958, 68527, 18015, 58721, 29623, 63181,
       38327, 46862, 52342, 48388, 19272, 69726, 43889, 63617, 57803,
       68748, 55533, 27324, 16488, 16038, 16557, 24760, 22322, 33559,
       68431, 69384, 53530, 60765, 52940, 47839, 51013, 25033, 68915,
       23281, 32024, 46024, 45876, 36292, 20285, 45339, 52442, 21632,
       52956, 55139, 31967, 22434, 15121, 66782, 65297, 36664, 31192,
       67150, 53434, 30776, 20449, 49166, 23466, 55512, 57907, 32745,
       60008, 32331, 44746, 24484, 58895, 36955, 43031, 56000, 52417,
       55483, 25476, 31633, 19807, 15010, 28728, 25396, 37561, 61749,
       30156, 69785, 51113, 63546, 63539, 34509, 42354, 51051, 35784,
       65452, 24370, 24556, 59565, 19635, 56952, 34811, 70176, 56354,
       49344, 51317, 45718, 42504, 55090, 24573, 20782, 67672, 72429,
       66428, 31046, 51803, 37013, 48845, 66573, 64178, 50283, 19165,
       25645, 31204, 48389, 26904, 37830, 31695, 49221, 24211, 65916,
       46275, 22781, 60727, 62117, 61955, 42602, 41975, 70525, 57919,
       42206, 69884, 28471, 71072, 43763, 53070, 35970, 29673, 43486,
       28186, 45663, 18893, 58217, 17758, 46857, 28920, 40021, 45699,
       25846, 43735, 24400, 20255, 15318, 49568, 38603, 42964, 35361,
       16545, 60627, 35113, 21832, 64128, 36914, 32896, 52920, 50914,
       16353, 17719, 58749, 71100, 48965, 19359, 27163, 15721, 59129,
       67953, 61772, 54669, 45237, 61249, 38678, 32945, 70924, 20081,
       55891, 21543, 68198, 45771, 42312, 23777, 42524, 56950, 17981,
       27701, 32572, 20798, 45092, 59767, 72163, 21338, 55310, 36673,
       54979, 37072, 47023, 31590, 49449, 70897, 25738, 59133, 67596,
       40647, 55775, 66223, 69017, 45998, 33203, 69290, 35191, 69238,
       60088, 15503, 47707, 37468, 30238, 70079, 33606, 27337, 70772,
       52450, 36160, 38820, 69787, 28328, 63199, 40953, 39093, 39295,
       47914, 22001, 18542, 25794, 36581, 51684, 42296, 41470, 52361,
       50531, 60320, 54222, 47938, 60734, 19849, 30920, 60794, 57918,
       71768, 51724, 72144, 63066, 53889, 56576, 55650, 36748, 66056,
       19935, 16576, 66972, 71079, 38772, 52264, 42039, 30297, 59769,
       56958, 55674, 26645, 31932, 72894, 57517, 25300, 15377, 19837,
       21957, 23557, 51231, 33641, 50229, 42508, 16117, 45991, 70546,
       37949, 61551, 30226, 69889, 22489, 42188, 28746, 42448, 36802,
       46955, 40365, 22308, 28831, 22310, 66164, 22162, 25285, 22562,
       72475, 26488, 59355, 29617, 59541, 33648, 48707, 22271, 43256,
       71587, 47263])

### Step 8. Add the column owners to cars

In [8]:
cars['owners'] = owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,48707
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,22271
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,43256
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,71587
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,47263